<clr-wizard #wizard [clrWizardOpen]="cloneWizardOpen" (clrWizardOpenChange)="reset()" [clrWizardSize]="'lg'">
    <clr-wizard-title>
        <cds-icon shape="clone" size="lg" direction="up" solid="true" ></cds-icon>
        {{'projects.pull.select.title' | translate}}
    </clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>
    <clr-wizard-page #firstpage>
      <ng-template clrPageTitle>{{'projects.pull.select.p1.title' | translate}}</ng-template>
      <p [innerHTML]="'disclaimer.text' | translate"></p>
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>{{'projects.pull.select.title' | translate}}</ng-template>
      <div class="clr-select-wrapper">
        <select id="select-basic" class="clr-select" [(ngModel)]="selectedClone">
          <ng-container *ngFor="let enum of enumTypes | keyvalue">
            <option value={{enum.value}}>{{enum.value}}</option>
          </ng-container>
        </select>
      </div>
      <div style="margin-top: 10%;">
      <clr-alert [clrAlertClosable]="false" [clrAlertSizeSmall]="true">
        <clr-alert-item>
          <ng-container *ngIf="selectedClone === 'HTTPS'">
            <span class="alert-text">{{githubClone?.https_url}}</span>
          </ng-container>
          <ng-container *ngIf="selectedClone === 'SSH'">
            <span class="alert-text">{{githubClone?.ssh_url}}</span>
          </ng-container>
          <ng-container *ngIf="selectedClone === 'Github CLI'">
            <span class="alert-text">{{githubClone?.github_cli_url}}</span>
          </ng-container>
          <div class="alert-actions">
            <button class="btn alert-action" (click)="copyToClipboard()">
              <cds-icon shape="copy"></cds-icon>
            </button>
          </div>
        </clr-alert-item>
      </clr-alert>
    </div>
    </clr-wizard-page>
</clr-wizard>