.base {
    width: 200px;
    height: 170px;
    background-color: #0d233a;
    border-radius:10px;
}

.base:hover{
    background-color: #133355;
    cursor:pointer;
}

.logo {
    width: 65px;
    margin-top: 15%;
}

.image-container {
    display: flex;
    justify-content: center;
}

.base p {
    color: white;
    font-size: larger;
    margin-top: 1.5em;
}