<div class="main-container">
  <ng-container *ngIf="!isWelcome">
    <header class="header-6" style="z-index: 999;">
      <div class="branding">
        <a href="about" class="nav-link comp-hover">
          <cds-icon shape="user"></cds-icon>
          <span class="title">Jordan Wootton</span>
        </a>
      </div>
      <div class="header-nav">
        <ng-container *ngFor="let route of routeList">
          <ng-container *ngIf="route.path !== 'welcome' && route.path !== '**'">
            <a href="{{route.path}}" class="active nav-link nav-text comp-hover">{{returnRouteTranslated(route.path)}}</a>
          </ng-container>
        </ng-container>
      </div>
      <div class="header-actions">
          <a class="nav-link nav-icon comp-hover" aria-label="settings" (click)="settingsOpened = true; ">
            <cds-icon shape="cog" badge="info" solid="true"></cds-icon>
          </a>
      </div>
    </header>
  </ng-container>
  <div class="center-div">
    <router-outlet></router-outlet>
  </div>
  <ng-container *ngIf="!isWelcome">
    <div class="clr-footer center-text" style="z-index: 999;">
        {{'footer.text' | translate}}
    </div>
  </ng-container>
</div>
<app-settings [(opened)]="settingsOpened"></app-settings>