<div class="center-accord">
    <h1 class="title">
        <cds-icon shape="folder" size="lg" direction="up" solid="true" ></cds-icon>
        {{'contact' | translate}}
    </h1>
</div>  
<div class="main">
   <!-- <app-emailwizard/> -->
    <div class="clr-row" style="z-index: 99;">
        <ng-container *ngFor="let details of contactData" class="main">
            <div class="clr-col">
                <app-contacttile [details]=details/>
            </div>
        </ng-container>
    </div>
</div>
