<form class="contact-form" (submit)="sendEmail($event)" id="emailform">
<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
      <div class="card email-card">
        <div class="card-header">{{'contact.card.title' | translate}}</div>
        <div class="card-block">
            <div>
                <input clrInput type="text" name="user_name" placeholder="{{'contact.card.name' | translate}}">
                <input clrInput type="email" name="user_email" placeholder="{{'contact.card.email' | translate}}">
                <clr-textarea-container>
                    <label>{{'contact.card.msg' | translate}}</label>
                    <textarea clrTextarea name="message"></textarea>
                </clr-textarea-container>
            </div>
        </div>
        <div class="card-footer">
          <ng-container *ngIf="isSending">
            <clr-progress-bar value="60" clrLoop></clr-progress-bar>
          </ng-container>
          <button class="btn btn-sm btn-link" type="submit" value="Send">{{'contact.card.send' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</form>