<div class="center-accord">
    <div>
        <h1 class="title">{{'about.me.title' | translate}}</h1>
    </div>  
</div>
<ng-container *ngFor="let about of aboutMeList; index as i">
    <app-dropdown-card [header]="about.header" [desc]="about.desc | translate" [img]="about.img" [open]="i === 0"
    [tree]="about.tree" [icon]="about.icon"></app-dropdown-card>
</ng-container>
<div class="center-accord resume">
    <a class="btn btn-link btnRoute" (click)="viewResume = true">{{ 'view.cv' | translate }}</a>
</div>
<app-resumemodal [(clrModalOpen)]="viewResume"/>