.instruction-box {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  overflow: hidden; 
  margin-top: 350px;
  margin-left: -75px;
  display: inline-block;
}

.instruction-box h2 {
  font-size: 24px;
  margin-top: 0;
}

.instruction-box p {
  margin-bottom: 25px;
}

#instruction-text {
  color:#000;
}

.center {
  width: 100%;
  text-align: center;
}
