<div class="card">
  <div class="card-header">
        {{header}}
        <ng-container *ngIf="lang !== null">
            <span class="label label-info">{{lang}}</span>
        </ng-container>
  </div>
  <div class="card-block">
    <div class="signpost-item">
      <div class="trigger-item">
        <clr-signpost>
          <button class="btn btn-link" clrSignpostTrigger>
            {{'projects.desc' | translate}}
            <cds-icon shape="help-info"></cds-icon>
          </button>
          <clr-signpost-content [clrPosition]="'bottom-right'" *clrIfOpen>
            {{desc}}
          </clr-signpost-content>
        </clr-signpost>
      </div>
    </div>
    <div class="card-text">{{createdDate}}</div>
  </div>
  <div class="card-footer">
    <button href="#" class="btn btn-sm btn-link" (click)="redirectLink()">View</button>
    <button class="btn btn-sm btn-link" (click)="cloneClicked()">Clone</button>
  </div>
</div>

